### Data Wrangling

In [1]:
# Loading in required libraries
import pandas as pd
import numpy as np

### Task 1
#### Import the dataset personality_scores.csv.

In [2]:
personality_scores = pd.read_csv("personality_scores.csv", sep = ";")
personality_scores.head()

,ID,Section 5 of 6 [I am always prepared.],Section 5 of 6 [I am easily disturbed.],Section 5 of 6 [I am exacting (demanding) in my work.],Section 5 of 6 [I am full of ideas.],Section 5 of 6 [I am interested in people.],Section 5 of 6 [I am not interested in abstract ideas.],Section 5 of 6 [I am not interested in other people's problems.],Section 5 of 6 [I am not really interested in others.],Section 5 of 6 [I am quick to understand things.],...,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64,Unnamed: 65,Unnamed: 66,Unnamed: 67,Unnamed: 68,IPIP_HIGH_RISK
0,0,"(3, 5)","(4, 5)","(3, 5)","(5, 5)","(2, 3)","(5, 3)","(2, 3)","(2, 5)","(5, 5)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,"(3, 5)","(4, 5)","(3, 5)","(5, 5)","(2, 5)","(5, 3)","(2, 5)","(2, 5)","(5, 5)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,"(3, 5)","(4, 3)","(3, 3)","(5, 5)","(2, 5)","(5, 5)","(2, 5)","(2, 5)","(5, 5)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,"(3, 5)","(4, 5)","(3, 3)","(5, 5)","(2, 5)","(5, 3)","(2, 3)","(2, 3)","(5, 3)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,"(3, 3)","(4, 5)","(3, 3)","(5, 3)","(2, 3)","(5, 3)","(2, 3)","(2, 3)","(5, 5)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

####  Examine the data frame for duplicates (based on ID), and drop any duplicates that exist.

In [20]:
# Dropping Duplicates Based on ID
persona_scores = personality_scores.drop_duplicates(subset = ['ID'], keep = False)

# persona_scores = personality_scores[~personality_scores[['ID']].apply(frozenset, axis=1).duplicated()]
# persona_scores = personality_scores.drop_duplicates(subset ="ID", keep = False, inplace = True)

In [21]:
# Also drop NaN (null-valued) columns
persona_scores = persona_scores.dropna(axis = 'columns')
persona_scores.head()

,ID,Section 5 of 6 [I am always prepared.],Section 5 of 6 [I am easily disturbed.],Section 5 of 6 [I am exacting (demanding) in my work.],Section 5 of 6 [I am full of ideas.],Section 5 of 6 [I am interested in people.],Section 5 of 6 [I am not interested in abstract ideas.],Section 5 of 6 [I am not interested in other people's problems.],Section 5 of 6 [I am not really interested in others.],Section 5 of 6 [I am quick to understand things.],...,Section 5 of 6 [I often forget to put things back in their proper place],Section 5 of 6 [I pay attention to details.],Section 5 of 6 [I seldom feel blue (down).],Section 5 of 6 [I spend time reflecting on things.],Section 5 of 6 [I start conversations.],Section 5 of 6 [I sympathize with others' feelings.],Section 5 of 6 [I take time out for others.],Section 5 of 6 [I talk to a lot of different people at parties.],Section 5 of 6 [I use difficult words.],Section 5 of 6 [I worry about things.]
0,0,"(3, 5)","(4, 5)","(3, 5)","(5, 5)","(2, 3)","(5, 3)","(2, 3)","(2, 5)","(5, 5)",...,"(3, 5)","(3, 5)","(4, 3)","(5, 5)","(1, 3)","(2, 5)","(2, 5)","(1, 3)","(5, 1)","(4, 3)"
1,1,"(3, 5)","(4, 5)","(3, 5)","(5, 5)","(2, 5)","(5, 3)","(2, 5)","(2, 5)","(5, 5)",...,"(3, 5)","(3, 1)","(4, 1)","(5, 5)","(1, 5)","(2, 5)","(2, 5)","(1, 5)","(5, 3)","(4, 3)"
2,2,"(3, 5)","(4, 3)","(3, 3)","(5, 5)","(2, 5)","(5, 5)","(2, 5)","(2, 5)","(5, 5)",...,"(3, 5)","(3, 5)","(4, 1)","(5, 3)","(1, 3)","(2, 5)","(2, 5)","(1, 3)","(5, 1)","(4, 3)"
3,3,"(3, 5)","(4, 5)","(3, 3)","(5, 5)","(2, 5)","(5, 3)","(2, 3)","(2, 3)","(5, 3)",...,"(3, 1)","(3, 5)","(4, 1)","(5, 5)","(1, 5)","(2, 5)","(2, 5)","(1, 5)","(5, 1)","(4, 1)"
4,4,"(3, 3)","(4, 5)","(3, 3)","(5, 3)","(2, 3)","(5, 3)","(2, 3)","(2, 3)","(5, 5)",...,"(3, 5)","(3, 5)","(4, 5)","(5, 5)","(1, 3)","(2, 3)","(2, 5)","(1, 3)","(5, 1)","(4, 3)"

#### Use an assert statement to check that the new data frame is the length of the unique entries of the original data frame.

In [4]:
# Assert to check if new DF is length of original's DF entries
assert len(persona_scores) == len(personality_scores)

#### Create new columns containing the total score of each of the personality test subscales. 
#### Instructions:
To do this, write a function (or functions) that will calculate the total score for each of the subscales (conscientiousness, emotional stability, openness to new experience, agreeableness, extraversion), as set out in scoring. In other words, for the conscientiousness total score, all items marked as belonging to ‘conscientiousness’ should be summed.

In [5]:
# Creating a list of rows from the data
data_rows = personality_scores.values.tolist()

# Creating Function
def counting_personal_score_values(data_rows):
    # This function should return the total scores for each subscale, 
    # for each individual that took part in the test
    all_rows = []
    for row in data_rows:
        all_rows.append(row)
        
    # Creating lists that will contain the totals of scores for each subscale
    sums_table = []
    add_for_ones = []
    add_for_twos = []
    add_for_threes = []
    add_for_fours = []
    add_for_fives = []
    
    for each_row in all_rows:
        current_row = each_row
        # Creating counters for each subscale (wrt "scores")
        ones = 0
        twos = 0
        threes = 0
        fours = 0
        fives = 0
        
        for each_val in current_row:
            # Reading into each tuple individually and adding results into each counter, 
            # respectively
            if type(each_val) == str:
                if each_val[1] == '1':
                    ones += int(each_val[4])
                if each_val[1] == '2':
                    twos += int(each_val[4])
                if each_val[1] == '3':
                    threes += int(each_val[4])
                if each_val[1] == '4':
                    fours += int(each_val[4])
                if each_val[1] == '5':
                    fives += int(each_val[4])
        # Append calculated totals into list of each subscale, respectively
        add_for_ones.append(ones)
        add_for_twos.append(twos)
        add_for_threes.append(threes)
        add_for_fours.append(fours)
        add_for_fives.append(fives)
    # Append previously appended lists into a list (Creating a list of lists - Series)
    sums_table.append(add_for_ones)
    sums_table.append(add_for_twos)
    sums_table.append(add_for_threes)
    sums_table.append(add_for_fours)
    sums_table.append(add_for_fives)

    return sums_table

# Create a Dataframe from the Series
sums_table = counting_personal_score_values(data_rows)
persona_sums = pd.DataFrame(sums_table)
persona_sums = persona_sums.transpose()
# Rename columns accordingly
persona_sums = persona_sums.rename(columns={'0':'Extraversion',              
                                    '1':'Agreeableness', 
                                    '2':'Conscientiousness',
                                    '3':'Emotional Stability', 
                                    '4':'Intellect'})
persona_sums.columns = ['Extraversion',
                    'Agreeableness',
                    'Conscientiousness',
                    'Emotional Stability', 
                    'Intellect']
# persona_sums.shape
persona_sums.head()

,Extraversion,Agreeableness,Conscientiousness,Emotional Stability,Intellect
0,30,40,48,36,42
1,42,46,46,40,42
2,28,40,40,38,42
3,30,38,38,40,38
4,28,34,46,38,36

In [6]:
# Concatenate Dataframe of Personality total scores with original Dataset
personality_data = pd.concat([persona_scores, persona_sums], axis = 1, ignore_index = False)
personality_data.head()

,ID,Section 5 of 6 [I am always prepared.],Section 5 of 6 [I am easily disturbed.],Section 5 of 6 [I am exacting (demanding) in my work.],Section 5 of 6 [I am full of ideas.],Section 5 of 6 [I am interested in people.],Section 5 of 6 [I am not interested in abstract ideas.],Section 5 of 6 [I am not interested in other people's problems.],Section 5 of 6 [I am not really interested in others.],Section 5 of 6 [I am quick to understand things.],...,Section 5 of 6 [I sympathize with others' feelings.],Section 5 of 6 [I take time out for others.],Section 5 of 6 [I talk to a lot of different people at parties.],Section 5 of 6 [I use difficult words.],Section 5 of 6 [I worry about things.],Extraversion,Agreeableness,Conscientiousness,Emotional Stability,Intellect
0,0,"(3, 5)","(4, 5)","(3, 5)","(5, 5)","(2, 3)","(5, 3)","(2, 3)","(2, 5)","(5, 5)",...,"(2, 5)","(2, 5)","(1, 3)","(5, 1)","(4, 3)",30,40,48,36,42
1,1,"(3, 5)","(4, 5)","(3, 5)","(5, 5)","(2, 5)","(5, 3)","(2, 5)","(2, 5)","(5, 5)",...,"(2, 5)","(2, 5)","(1, 5)","(5, 3)","(4, 3)",42,46,46,40,42
2,2,"(3, 5)","(4, 3)","(3, 3)","(5, 5)","(2, 5)","(5, 5)","(2, 5)","(2, 5)","(5, 5)",...,"(2, 5)","(2, 5)","(1, 3)","(5, 1)","(4, 3)",28,40,40,38,42
3,3,"(3, 5)","(4, 5)","(3, 3)","(5, 5)","(2, 5)","(5, 3)","(2, 3)","(2, 3)","(5, 3)",...,"(2, 5)","(2, 5)","(1, 5)","(5, 1)","(4, 1)",30,38,38,40,38
4,4,"(3, 3)","(4, 5)","(3, 3)","(5, 3)","(2, 3)","(5, 3)","(2, 3)","(2, 3)","(5, 5)",...,"(2, 3)","(2, 5)","(1, 3)","(5, 1)","(4, 3)",28,34,46,38,36

### Task 2

#### Import the data in departments.csv.

In [7]:
departments = pd.read_csv("departments.csv", sep = ";")
departments.shape

(1555, 2)

In [8]:
departments.head()

   ID Department
0   0       Data
1   1       Data
2   2       Data
3   3       Data
4   4       Data

#### Merge this data frame with the personality score data frame, keeping all applicants within the department data frame.

In [9]:
# Merge two datasets, wrt ID column
per_dept = pd.merge(personality_data, departments, on = "ID", how = "inner")
per_dept.head()

,ID,Section 5 of 6 [I am always prepared.],Section 5 of 6 [I am easily disturbed.],Section 5 of 6 [I am exacting (demanding) in my work.],Section 5 of 6 [I am full of ideas.],Section 5 of 6 [I am interested in people.],Section 5 of 6 [I am not interested in abstract ideas.],Section 5 of 6 [I am not interested in other people's problems.],Section 5 of 6 [I am not really interested in others.],Section 5 of 6 [I am quick to understand things.],...,Section 5 of 6 [I take time out for others.],Section 5 of 6 [I talk to a lot of different people at parties.],Section 5 of 6 [I use difficult words.],Section 5 of 6 [I worry about things.],Extraversion,Agreeableness,Conscientiousness,Emotional Stability,Intellect,Department
0,0,"(3, 5)","(4, 5)","(3, 5)","(5, 5)","(2, 3)","(5, 3)","(2, 3)","(2, 5)","(5, 5)",...,"(2, 5)","(1, 3)","(5, 1)","(4, 3)",30,40,48,36,42,Data
1,1,"(3, 5)","(4, 5)","(3, 5)","(5, 5)","(2, 5)","(5, 3)","(2, 5)","(2, 5)","(5, 5)",...,"(2, 5)","(1, 5)","(5, 3)","(4, 3)",42,46,46,40,42,Data
2,2,"(3, 5)","(4, 3)","(3, 3)","(5, 5)","(2, 5)","(5, 5)","(2, 5)","(2, 5)","(5, 5)",...,"(2, 5)","(1, 3)","(5, 1)","(4, 3)",28,40,40,38,42,Data
3,3,"(3, 5)","(4, 5)","(3, 3)","(5, 5)","(2, 5)","(5, 3)","(2, 3)","(2, 3)","(5, 3)",...,"(2, 5)","(1, 5)","(5, 1)","(4, 1)",30,38,38,40,38,Data
4,4,"(3, 3)","(4, 5)","(3, 3)","(5, 3)","(2, 3)","(5, 3)","(2, 3)","(2, 3)","(5, 5)",...,"(2, 5)","(1, 3)","(5, 1)","(4, 3)",28,34,46,38,36,Data

#### Use an assert statement to check that the newly created merged data frame has the same amount of rows as the department data frame, and the expected number of columns.

In [10]:
# Assert to check if new DF is length of original's DF entries, as well as columns
assert len(per_dept) == len(departments)
assert len(per_dept.columns) == 57
per_dept.shape

(1555, 57)

#### Filter the merged data frame so that you get only the applicants who scored less than 30 on emotional stability, conscientiousness AND agreeableness.

In [11]:
# Filter the people with scores less than 30 in three different columns.
df_filtered = per_dept[(per_dept['Agreeableness'] < 30) & (per_dept['Conscientiousness'] < 30) & (per_dept['Emotional Stability'] < 30)]
filtered1 = df_filtered[['ID', 'Department']]
filtered1

        ID   Department
881    881         Data
1197  1197  Copywriting

In [12]:
# Filter the rest with scores higher than 30 (should add up to 1553 rows)
df_filtered = per_dept[(per_dept['Agreeableness'] >= 30) | (per_dept['Conscientiousness'] >= 30) | (per_dept['Emotional Stability'] >= 30)]
filtered2 = df_filtered[['ID', 'Department']]
filtered2

        ID Department
0        0       Data
1        1       Data
2        2       Data
3        3       Data
4        4       Data
...    ...        ...
1550  1550    Web dev
1551  1551    Web dev
1552  1552    Web dev
1553  1553    Web dev
1554  1554    Web dev

[1553 rows x 2 columns]

#### Further Instructions:
Print the ID numbers and departments of these applicants to the screen, and also assign these applicants the tag “high_risk” in a new column. All other applicants get the tag “low_risk”

In [13]:
# Declare a list that is to be converted into a column in both datasets
filtered1['Risk'] = "high_risk"
filtered2['Risk'] = "low_risk"

/home/recruit/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [14]:
# Concatenate the two dataframes of filtered data, with the column 'Risk', sorting by ID
filtered_data = pd.concat([filtered1, filtered2]).sort_values(by = 'ID')
filtered_data

        ID Department      Risk
0        0       Data  low_risk
1        1       Data  low_risk
2        2       Data  low_risk
3        3       Data  low_risk
4        4       Data  low_risk
...    ...        ...       ...
1550  1550    Web dev  low_risk
1551  1551    Web dev  low_risk
1552  1552    Web dev  low_risk
1553  1553    Web dev  low_risk
1554  1554    Web dev  low_risk

[1555 rows x 3 columns]

In [15]:
# Checking if the concatenation worked
filtered_data.Risk[881]

'high_risk'

### Task 3

#### Create a new data frame with a count of the number of low and high risk applicants within each department. 
#### Let each department be a separate column.

In [16]:
frequency = pd.DataFrame(filtered_data.groupby('Risk')['Department'].value_counts()).unstack()
frequency = frequency.replace(np.nan, 0)
frequency

            Department
Department Copywriting   Data Design Strategy Web Dev Web dev
Risk
high_risk          1.0    1.0    0.0      0.0     0.0     0.0
low_risk         325.0  328.0  120.0    449.0   170.0   161.0

In [17]:
data = frequency['Department']
data

Department  Copywriting   Data  Design  Strategy  Web Dev  Web dev
Risk
high_risk           1.0    1.0     0.0       0.0      0.0      0.0
low_risk          325.0  328.0   120.0     449.0    170.0    161.0

In [18]:
data = data.astype(int)
data

Department  Copywriting  Data  Design  Strategy  Web Dev  Web dev
Risk
high_risk             1     1       0         0        0        0
low_risk            325   328     120       449      170      161