In [1]:
# Loading in required libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
personality_scores = pd.read_csv("personality_scores.csv", sep = ";")
personality_scores.head()

,ID,Section 5 of 6 [I am always prepared.],Section 5 of 6 [I am easily disturbed.],Section 5 of 6 [I am exacting (demanding) in my work.],Section 5 of 6 [I am full of ideas.],Section 5 of 6 [I am interested in people.],Section 5 of 6 [I am not interested in abstract ideas.],Section 5 of 6 [I am not interested in other people's problems.],Section 5 of 6 [I am not really interested in others.],Section 5 of 6 [I am quick to understand things.],...,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64,Unnamed: 65,Unnamed: 66,Unnamed: 67,Unnamed: 68,IPIP_HIGH_RISK
0,0,"(3, 5)","(4, 5)","(3, 5)","(5, 5)","(2, 3)","(5, 3)","(2, 3)","(2, 5)","(5, 5)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,"(3, 5)","(4, 5)","(3, 5)","(5, 5)","(2, 5)","(5, 3)","(2, 5)","(2, 5)","(5, 5)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,"(3, 5)","(4, 3)","(3, 3)","(5, 5)","(2, 5)","(5, 5)","(2, 5)","(2, 5)","(5, 5)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,"(3, 5)","(4, 5)","(3, 3)","(5, 5)","(2, 5)","(5, 3)","(2, 3)","(2, 3)","(5, 3)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,"(3, 3)","(4, 5)","(3, 3)","(5, 3)","(2, 3)","(5, 3)","(2, 3)","(2, 3)","(5, 5)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
personality_scores = personality_scores.dropna(axis = 'columns')
personality_scores.head()

,ID,Section 5 of 6 [I am always prepared.],Section 5 of 6 [I am easily disturbed.],Section 5 of 6 [I am exacting (demanding) in my work.],Section 5 of 6 [I am full of ideas.],Section 5 of 6 [I am interested in people.],Section 5 of 6 [I am not interested in abstract ideas.],Section 5 of 6 [I am not interested in other people's problems.],Section 5 of 6 [I am not really interested in others.],Section 5 of 6 [I am quick to understand things.],...,Section 5 of 6 [I often forget to put things back in their proper place],Section 5 of 6 [I pay attention to details.],Section 5 of 6 [I seldom feel blue (down).],Section 5 of 6 [I spend time reflecting on things.],Section 5 of 6 [I start conversations.],Section 5 of 6 [I sympathize with others' feelings.],Section 5 of 6 [I take time out for others.],Section 5 of 6 [I talk to a lot of different people at parties.],Section 5 of 6 [I use difficult words.],Section 5 of 6 [I worry about things.]
0,0,"(3, 5)","(4, 5)","(3, 5)","(5, 5)","(2, 3)","(5, 3)","(2, 3)","(2, 5)","(5, 5)",...,"(3, 5)","(3, 5)","(4, 3)","(5, 5)","(1, 3)","(2, 5)","(2, 5)","(1, 3)","(5, 1)","(4, 3)"
1,1,"(3, 5)","(4, 5)","(3, 5)","(5, 5)","(2, 5)","(5, 3)","(2, 5)","(2, 5)","(5, 5)",...,"(3, 5)","(3, 1)","(4, 1)","(5, 5)","(1, 5)","(2, 5)","(2, 5)","(1, 5)","(5, 3)","(4, 3)"
2,2,"(3, 5)","(4, 3)","(3, 3)","(5, 5)","(2, 5)","(5, 5)","(2, 5)","(2, 5)","(5, 5)",...,"(3, 5)","(3, 5)","(4, 1)","(5, 3)","(1, 3)","(2, 5)","(2, 5)","(1, 3)","(5, 1)","(4, 3)"
3,3,"(3, 5)","(4, 5)","(3, 3)","(5, 5)","(2, 5)","(5, 3)","(2, 3)","(2, 3)","(5, 3)",...,"(3, 1)","(3, 5)","(4, 1)","(5, 5)","(1, 5)","(2, 5)","(2, 5)","(1, 5)","(5, 1)","(4, 1)"
4,4,"(3, 3)","(4, 5)","(3, 3)","(5, 3)","(2, 3)","(5, 3)","(2, 3)","(2, 3)","(5, 5)",...,"(3, 5)","(3, 5)","(4, 5)","(5, 5)","(1, 3)","(2, 3)","(2, 5)","(1, 3)","(5, 1)","(4, 3)"

In [4]:
# Dropping Duplicates Based on ID
persona_scores = personality_scores[~personality_scores[['ID']].apply(frozenset, axis=1).duplicated()]
#persona_scores = personality_scores.drop_duplicates(subset ="ID", keep = False, inplace = True)

# Assert to check if new DF is length of original's DF entries
assert len(persona_scores) == len(personality_scores)

In [5]:
# Creating a list of rows from the data
data_rows = personality_scores.values.tolist()

# Creating Function
def counting_personal_score_values(data_rows):
    # This function should return the total scores for each subscale, 
    # for each individual that took part in the test
    all_rows = []
    for row in data_rows:
        all_rows.append(row)
        
    # Creating lists that will contain the totals of scores for each subscale
    counters_table = []
    add_for_ones = []
    add_for_twos = []
    add_for_threes = []
    add_for_fours = []
    add_for_fives = []
    
    for each_row in all_rows:
        current_row = each_row
        # Creating counters for each subscale (wrt "scores")
        ones = 0
        twos = 0
        threes = 0
        fours = 0
        fives = 0
        
        for each_val in current_row:
            # Reading into each tuple individually and adding results into each counter, 
            # respectively
            if type(each_val) == str:
                if each_val[1] == '1':
                    ones += int(each_val[4])
                if each_val[1] == '2':
                    twos += int(each_val[4])
                if each_val[1] == '3':
                    threes += int(each_val[4])
                if each_val[1] == '4':
                    fours += int(each_val[4])
                if each_val[1] == '5':
                    fives += int(each_val[4])
        # Append calculated totals into list of each subscale, respectively
        add_for_ones.append(ones)
        add_for_twos.append(twos)
        add_for_threes.append(threes)
        add_for_fours.append(fours)
        add_for_fives.append(fives)
    # Append previously appended lists into a list (Creating a list of lists - Series)
    counters_table.append(add_for_ones)
    counters_table.append(add_for_twos)
    counters_table.append(add_for_threes)
    counters_table.append(add_for_fours)
    counters_table.append(add_for_fives)

    return counters_table
        
    


# Create a Dataframe from the Series
counters_table = counting_personal_score_values(data_rows)
df_count = pd.DataFrame(counters_table)
df_count = df_count.transpose()
# Rename columns accordingly
df_count = df_count.rename(columns={'0':'Extraversion',              
                                    '1':'Agreeableness', 
                                    '2':'Conscientiousness',
                                    '3':'Emotional Stability', 
                                    '4':'Intellect'})
df_count.columns = ['Extraversion',
                    'Agreeableness',
                    'Conscientiousness',
                    'Emotional Stability', 
                    'Intellect']
# df_count.shape
df_count.head()

,Extraversion,Agreeableness,Conscientiousness,Emotional Stability,Intellect
0,30,40,48,36,42
1,42,46,46,40,42
2,28,40,40,38,42
3,30,38,38,40,38
4,28,34,46,38,36

In [6]:
# personality_data = pd.merge(persona_scores, df_count, on = "ID", how = "inner")
personality_data = pd.concat([persona_scores, df_count], axis = 1, ignore_index = False)
personality_data.head()

,ID,Section 5 of 6 [I am always prepared.],Section 5 of 6 [I am easily disturbed.],Section 5 of 6 [I am exacting (demanding) in my work.],Section 5 of 6 [I am full of ideas.],Section 5 of 6 [I am interested in people.],Section 5 of 6 [I am not interested in abstract ideas.],Section 5 of 6 [I am not interested in other people's problems.],Section 5 of 6 [I am not really interested in others.],Section 5 of 6 [I am quick to understand things.],...,Section 5 of 6 [I sympathize with others' feelings.],Section 5 of 6 [I take time out for others.],Section 5 of 6 [I talk to a lot of different people at parties.],Section 5 of 6 [I use difficult words.],Section 5 of 6 [I worry about things.],Extraversion,Agreeableness,Conscientiousness,Emotional Stability,Intellect
0,0,"(3, 5)","(4, 5)","(3, 5)","(5, 5)","(2, 3)","(5, 3)","(2, 3)","(2, 5)","(5, 5)",...,"(2, 5)","(2, 5)","(1, 3)","(5, 1)","(4, 3)",30,40,48,36,42
1,1,"(3, 5)","(4, 5)","(3, 5)","(5, 5)","(2, 5)","(5, 3)","(2, 5)","(2, 5)","(5, 5)",...,"(2, 5)","(2, 5)","(1, 5)","(5, 3)","(4, 3)",42,46,46,40,42
2,2,"(3, 5)","(4, 3)","(3, 3)","(5, 5)","(2, 5)","(5, 5)","(2, 5)","(2, 5)","(5, 5)",...,"(2, 5)","(2, 5)","(1, 3)","(5, 1)","(4, 3)",28,40,40,38,42
3,3,"(3, 5)","(4, 5)","(3, 3)","(5, 5)","(2, 5)","(5, 3)","(2, 3)","(2, 3)","(5, 3)",...,"(2, 5)","(2, 5)","(1, 5)","(5, 1)","(4, 1)",30,38,38,40,38
4,4,"(3, 3)","(4, 5)","(3, 3)","(5, 3)","(2, 3)","(5, 3)","(2, 3)","(2, 3)","(5, 5)",...,"(2, 3)","(2, 5)","(1, 3)","(5, 1)","(4, 3)",28,34,46,38,36

In [7]:
departments = pd.read_csv("departments.csv", sep = ";")
departments.shape

(1555, 2)

In [8]:
departments.head()

   ID Department
0   0       Data
1   1       Data
2   2       Data
3   3       Data
4   4       Data

In [9]:
# Merge two datasets, wrt ID column
per_dept = pd.merge(personality_data, departments, on = "ID", how = "inner")
# Assert to check if new DF is length of original's DF entries, as well as columns
assert len(per_dept) == len(departments)
assert len(per_dept.columns) == 57
per_dept.shape

(1555, 57)

In [10]:
# First, I want to filter the people with scores 
# higher than 30 in three different columns.
#    filtered_data = per_dept.filter(['ID', 'Department'])
# filter_data = per_dept.query('Agreeableness >= 30')
# filter_data

df_filtered = per_dept[(per_dept['Agreeableness'] < 30) & (per_dept['Conscientiousness'] < 30) & (per_dept['Emotional Stability'] < 30)]
filtered1 = df_filtered[['ID', 'Department']]
filtered1
# I want to create a list of Risk levels, high or low.

        ID   Department
881    881         Data
1197  1197  Copywriting

In [11]:
df_filtered = per_dept[(per_dept['Agreeableness'] >= 30) | (per_dept['Conscientiousness'] >= 30) | (per_dept['Emotional Stability'] >= 30)]
filtered2 = df_filtered[['ID', 'Department']]
filtered2

        ID Department
0        0       Data
1        1       Data
2        2       Data
3        3       Data
4        4       Data
...    ...        ...
1550  1550    Web dev
1551  1551    Web dev
1552  1552    Web dev
1553  1553    Web dev
1554  1554    Web dev

[1553 rows x 2 columns]

In [12]:
# Declare a list that is to be converted into a column 
risk = ['high_risk', 'high_risk'] 
  
# Using 'Address' as the column name and equating it to the list 
filtered1['Risk'] = risk
filtered1

        ID   Department       Risk
881    881         Data  high_risk
1197  1197  Copywriting  high_risk

In [13]:
filtered2['Risk'] = "low_risk"
filtered2

/home/recruit/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

        ID Department      Risk
0        0       Data  low_risk
1        1       Data  low_risk
2        2       Data  low_risk
3        3       Data  low_risk
4        4       Data  low_risk
...    ...        ...       ...
1550  1550    Web dev  low_risk
1551  1551    Web dev  low_risk
1552  1552    Web dev  low_risk
1553  1553    Web dev  low_risk
1554  1554    Web dev  low_risk

[1553 rows x 3 columns]

In [14]:
# new = filtered1
# # pd.merge(filtered1, filtered2, on = "ID", how = "inner")
# filtered_data
# new_filter = pd.merge(filtered1, filtered2, )

NameError: name 'filtered_data' is not defined

In [15]:
new_filter = pd.concat([filtered1,filtered2])

In [18]:
new_filter.sort_values(by= 'ID')

        ID Department      Risk
0        0       Data  low_risk
1        1       Data  low_risk
2        2       Data  low_risk
3        3       Data  low_risk
4        4       Data  low_risk
...    ...        ...       ...
1550  1550    Web dev  low_risk
1551  1551    Web dev  low_risk
1552  1552    Web dev  low_risk
1553  1553    Web dev  low_risk
1554  1554    Web dev  low_risk

[1555 rows x 3 columns]